{
  PrivateKey: {{ yggdrasil_private_key }}
  Peers: {{ yggdrasil_peers | to_nice_json }}
  InterfacePeers: {{ yggdrasil_interface_peers | to_nice_json }}
  Listen: {{ yggdrasil_listen | to_json }}
  AdminListen: {{ yggdrasil_admin_listen }}
  MulticastInterfaces: {{ yggdrasil_multicast_interfaces | to_nice_json }}
  AllowedPublicKeys: {{ yggdrasil_allowed_public_keys | to_nice_json }}
  IfName: {{ yggdrasil_if_name }}
  IfMTU: {{ yggdrasil_if_mtu }}
  NodeInfoPrivacy: {{ yggdrasil_node_info_privacy | to_json }}
  NodeInfo: {{ yggdrasil_node_info | to_nice_json }}
}
